.header {
  padding: 24px 18.55px 24px 20px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  color: var(--white-color);
  width: 78.45px;
  height: 15.43px;
}

.header__menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px 0;
}

.header__menu-item {
  font-size: 16px;
  line-height: 19px;
}

.header__menu-link:any-link {
  color: var(--white-of-point-color);
}

.header__menu-item_active {
  text-decoration: none;
}
